<ion-view view-title="Invest5" hide-nav-bar="true" class="createaccount-page" ng-init="init()">
  <ion-content scroll="false">

    <div class="logo" style="text-align:center">
      <img class="img-logo" src="img/logo-invest5.png" alt="" style="width:50%; height: auto;">
    </div>

    <h1 class="title">Quase lá...</h1>

    <div id="Message1" ng-if="message === 1">
        <p class="text"> O próximo passo é criar uma conta Itaú. </p>
        <p class="text"> Vamos criar uma para continuar o investimento?</p>
    </div>

    <div id="Message2" ng-if="message === 2">
        <p class="text"> Os detalhes de criaçāo da conta foram enviados para o e-mail informado.</p>
    </div>

    <div id="Button1" class="wrapper" ng-if="message === 1">
      <button ng-click="createAccount()" class="button button-light buttonblockmargin"> Vamos la! </button>
    </div>

    <div id="Button3" class="wrapper" ng-if="message === 2">
      <button ng-click="seeInvestments()" class="button button-light buttonblockmargin"> Ver meus Investimentos </button>
    </div>

    <div id="Button2" class="wrapper">
      <button ng-click="restart()"  class="button button-light buttonblockmargin"> Recomeçar </button>
    </div>

  </ion-content>
</ion-view>
