<ion-view view-title="Investimentos" class="investimentos-page">
  
  <ion-content>
    <ion-toggle ng-click="changeGroup()">Agrupar por {{ grouping }}</ion-toggle>
    <ion-list ng-if="groupType">
     <div ng-repeat="investimentoGroup in investimentosByRisk">
         <ion-item class="item-stable"
                    ng-click="toggleGroup(investimentoGroup)"
                    ng-class="{active: isGroupShown(investimentoGroup)}">
              <i class="icon" ng-class="isGroupShown(investimentoGroup) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Risco {{investimentoGroup.riskGroup}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in investimentoGroup.item"
                    ng-show="isGroupShown(investimentoGroup)"
                    ng-click="toggleProduct(item)"
                    ng-class="{active: isProductShown(item)}">
            {{item.nome_comercial}}
             <ion-list class="item-accordion" ng-show="isProductShown(item)">
              <ion-item class="item-accordion" >Grau de risco da aplicação: {{item.grau_risco}}</ion-item>
              <ion-item class="item-accordion" >Família da aplicação: {{item.nome_familia}}</ion-item>
              <ion-item class="item-accordion" >Imposto de renda: {{item.valor_ir}}%</ion-item>
              <ion-item class="item-accordion" >Valor mínimo para aplicação: R${{item.valor_minimo_aplicacao}}</ion-item>
              <ion-item class="item-accordion" >Valor mínimo para resgate: {{item.valor_minimo_resgate}}</ion-item>
              <ion-item class="item-accordion" >Data do crédito do resgate: {{item.data_credito_resgate}}</ion-item>
              <ion-item class="item-accordion" >Data do débito da aplicação: {{item.data_debito_aplicacao}}</ion-item>
            </ion-list>
          </ion-item>
      </div>
    </ion-list>

    <ion-list ng-if="!groupType">
      <div ng-repeat="investimentoType in investimentosByType">
         <ion-item class="item-stable"
                    ng-click="toggleGroup(investimentoType)"
                    ng-class="{active: isGroupShown(investimentoType)}">
              <i class="icon" ng-class="isGroupShown(investimentoType) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            Tipo {{investimentoType.typeGroup}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-repeat="item in investimentoType.item"
                    ng-show="isGroupShown(investimentoType)"
                    ng-click="toggleProduct(item)"
                    ng-class="{active: isProductShown(item)}">
            {{item.nome_comercial}}
            <ion-list ng-show="isProductShown(item)">
              <ion-item class="item-accordion" >Grau de risco da aplicação: {{item.grau_risco}}</ion-item>
              <ion-item class="item-accordion" >Família da aplicação: {{item.nome_familia}}</ion-item>
              <ion-item class="item-accordion" >Imposto de renda: {{item.valor_ir}}%</ion-item>
              <ion-item class="item-accordion" >Valor mínimo para aplicação: R${{item.valor_minimo_aplicacao}}</ion-item>
              <ion-item class="item-accordion" >Valor mínimo para resgate: {{item.valor_minimo_resgate}}</ion-item>
              <ion-item class="item-accordion" >Data do crédito do resgate: {{item.data_credito_resgate}}</ion-item>
              <ion-item class="item-accordion" >Data do débito da aplicação: {{item.data_debito_aplicacao}}</ion-item>
            </ion-list>
          </ion-item>
      </div>

  </ion-content>

</ion-view>
