<ion-view view-title="Invest5" hide-nav-bar="true" class="questionario-page" ng-init="init()">
    <ion-content scroll="true">

        <div class="padding logo" style="text-align:center">
            <img class="img-logo" src="img/logo-invest5.png" alt="" style="width:50%; height: auto;">
        </div>
        <ion-list>
            <div ng-repeat="result in results">
                <ion-item class="item-stable" ng-click="toggleGroup(result)" ng-class="{active: isGroupShown(result)}" style="font-size: 80% !important;">
                    <i class="icon" ng-class="isGroupShown(result) ? 'ion-minus' : 'ion-plus'"></i> &nbsp; {{result.nome_comercial}}
                    <b ng-if="$index==0">(Recomendado)</b>
                    <i class="icon best" ng-class="isGroupShown(result) ? 'ion-checkmark-round' : ''"></i>
                    <i class="icon best" ng-class="ion-edit"></i>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(result)" ng-class="{active: isGroupShown(item)}">
                    Grau de risco: {{result.grau_risco}}
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(result)" ng-class="{active: isGroupShown(item)}">
                    Família: {{result.nome_familia}}
                </ion-item>
                <!-- <ion-item class="item-accordion" ng-show="isGroupShown(result)" ng-class="{active: isGroupShown(item)}">
                    Valor mínimo: R${{result.valor_minimo_aplicacao}}
                </ion-item> -->
                <ion-item class="item-accordion" ng-show="isGroupShown(result)" ng-class="{active: isGroupShown(item)}">
                    Total investido: R${{result.valor_minimo_aplicacao}},00
                </ion-item>
                <!-- <ion-item class="item-accordion" ng-show="isGroupShown(result)" ng-class="{active: isGroupShown(item)}">
                    Valor IR: {{result.valor_ir}}%
                </ion-item> -->
                <ion-item class="item-accordion" ng-show="isGroupShown(result)" ng-class="{active: isGroupShown(item)}">
                    Total rendido: R$102,00
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(result)" ng-class="{active: isGroupShown(item)}">
                    Meta:
                    <progress max="100" value="40"></progress>
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(result)" ng-class="{active: isGroupShown(item), best: $index == 0, worse: $index != 0}">
                    Rendimento (últimos 12 meses): {{result.rentabilidades["12_meses"]}}%
                </ion-item>
                <ion-item class="item-accordion" ng-show="isGroupShown(result)" ng-class="{active: isGroupShown(item), best: $index == 0, worse: $index != 0}">
                    Perspectiva:
                    <br/>
                    <img class="img-logo" src="img/grafico.jpeg" alt="" style="width:80%; height: 80%; margin-top: 2%;">
                    <br/>
                    <center>
                        <button class="button button-positive" style="margin-right:10%; margin-bottom: 2%">
                            Depósito
                        </button>
                        <button class="button button-positive">
                            Resgate
                        </button>
                    </center>
                </ion-item>
            </div>
        </ion-list>
        <center>
            <button class="button button-positive" style="width:60%; margin-top:5%" ng-click="logOut()">
                Sair
            </button>
        </center>
    </ion-content>
</ion-view>