<ion-view view-title="SongHob" hide-nav-bar="true" class="splash-page">
  <ion-content scroll="false">

    <div class="padding logo" style="text-align:center">
      <img class="img-logo" src="img/logo-invest5.png" alt="">
    </div>

    <div class="login-form">
      <div class="card">
        <div class="list">
          <label class="item item-input">
            <input type="text" ng-model="form.username" placeholder="Digite seu usuário">
          </label>
        </div>
      </div>

      <div class="padding-left padding-right">
        <button class="button button-block action-button" ng-class="{'button-positive': !form.signingUp, 'button-balanced': form.signingUp}"
          ng-click="submitForm(form.username, form.signingUp)">
          Login
        </button>
      </div>
    </div>


    <!-- <div class="padding signup-opt" ng-click="form.signingUp = !form.signingUp">
      {{ form.signingUp ? 'Have an account? Sign in!' : 'Need an account? Sign up!' }}
    </div> -->
    <div class="padding signup-opt" ng-click="entrarSemConta()" style="text-align: center;">
      Não tenho conta
    </div>

  </ion-content>
</ion-view>
