<ion-view view-title="Invest5" hide-nav-bar="true" class="questionario-page" ng-init="init()">
  <ion-content scroll="false">

    <div class="logo" style="text-align:center">
      <img class="img-logo" src="img/logo-invest5.png" alt="" style="width:50%; height: auto;">
    </div>
    <div id="chat" class="questionario-container" style="" ng-if="messageState >= 1">
      <div class="card" style="height:90%; width:90%">
        <div id="WelcomeMessage" class="message-received" ng-if="messageState >= 3">
          {{Message}}
        </div>
        <div id="WelcomeMessage" class="message-received" ng-if="messageState == 1 || messageState == 2">
          <h4>Seja bem vindo ao Invest5!</h4>
          <p>
            Nesse momento, faremos algumas perguntas para saber mais sobre você,
            seu perfil de investimento e seus objetivos.
          </p>
          <p>
            Como posso te chamar?</p>
        </div>
      </div>
    </div>

    <!--  Pergunta - nome   -->
    <div class="input-name" style="position:absolute; bottom:0px; width: 100%;">
      <div class="card" ng-if="messageState === 1">
        <div class="list">
          <div class="row">
            <div class="col col-90">
              <label class="item item-input">
              <input type="text" ng-model="input.name" placeholder="Digite seu nome">
            </label>
            </div>
            <div class="col col-10 wrapper">
              <button ng-click="submitName(input.name)" class="button button-clear button-dark ion-arrow-right-c send-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Pergunta - idade   -->
    <div class="input-idade" ng-if="messageState == 3" style="position:absolute; bottom:0px; width: 100%;">
      <div class="card">
        <div class="list">
          <div class="row">
            <div class="col col-90">
              <label class="item item-input">
              <input type="number" ng-model="input.age" placeholder="Digite sua idade">
            </label>
            </div>
            <div class="col col-10 wrapper">
              <button ng-click="submitAge(input.age)" class="button button-clear button-dark ion-arrow-right-c send-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Pergunta - salario   -->
    <!-- Qual a sua renda mensal? -->
    <div class="input-salary" ng-if="messageState == 5" style="position:absolute; bottom:0px; width: 100%;">
      <div class="card">
        <div class="list">
          <div class="row">
            <div class="col col-90">
              <label class="item item-input">
              <input type="number" ng-model="input.salary" placeholder="Digite o valor">
            </label>
            </div>
            <div class="col col-10 wrapper">
              <button ng-click="submitSalary(input.salary)" class="button button-clear button-dark ion-arrow-right-c send-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Pergunta - Cautela   -->
    <!-- Como você se considera com dinheiro? -->
    <div class="input-comportamento-dinheiro" ng-if="messageState == 7" style="position:absolute; bottom:0px; width: 100%;">
      <div class="card">
        <div class="row">
          <div class="col col-90">
            <div class="item range">
              Cauteloso
              <input type="range" ng-model="input.moneyBehavior" name="moneyBehavior"> Impulsivo
            </div>
          </div>
          <div class="col col-10 wrapper">
            <button ng-click="submitMoneyBehavior(input.moneyBehavior)" class="button button-clear button-dark ion-arrow-right-c send-button"></button>
          </div>
        </div>
      </div>
    </div>

    <!--  Pergunta - Opiniao Investimentos   -->
    <div class="input-interesse-investimento" ng-if="messageState == 9" style="position:absolute; bottom:0px; width: 100%;">
      <div class="card">
        <div class="row">
          <div class="col col-90">
            <div class="item range">
              Baixo
              <input type="range" ng-model="input.interest" name="interest"> Alto
            </div>
          </div>
          <div class="col col-10 wrapper">
            <button ng-click="submitInterest(input.interest)" class="button button-clear button-dark ion-arrow-right-c send-button"></button>
          </div>
        </div>
      </div>
    </div>

    <!--  Pergunta - Opiniao Leitura   -->
    <!-- "Você lê matérias sobre economia, bolsa de valores ou investimentos em geral?" -->
    <div class="input-leitura-investimento" ng-if="messageState == 11" style="position:absolute; bottom:0px; width: 100%;">
      <div>
        <button class="button button-positive" ng-click="submitReading(true)" style="width:40%; float:left; margin: 5%;">Sim</button>
        <button class="button button-positive" ng-click="submitReading(false)" style="width:40%; float:right; margin: 5%;">Não</button>
      </div>
    </div>

    <!-- Nos últimos dois anos, você aplicou em produtos, como ações, LCI/LCA ou debentures? -->
    <div class="input-investimentos-anteriores" ng-if="messageState == 13" style="position:absolute; bottom:0px; width: 100%;">
      <div>
        <button class="button button-positive" ng-click="submitPreviousInvestments(true)" style="width:40%; float:left; margin: 5%;">Sim</button>
        <button class="button button-positive" ng-click="submitPreviousInvestments(false)" style="width:40%; float:right; margin: 5%;">Não</button>
      </div>
    </div>

    <!--  Pergunta - valor   -->
    <div class="input-valor" ng-if="messageState == 15" style="position:absolute; bottom:0px; width: 100%;">
      <div class="card">
        <div class="list">
          <div class="row">
            <div class="col col-90">
              <label class="item item-input">
              <input type="number" ng-model="input.goal" placeholder="Digite a sua meta">
            </label>
            </div>
            <div class="col col-10 wrapper">
              <button ng-click="submitGoal(input.goal)" class="button button-clear button-dark ion-arrow-right-c send-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Pergunta - tempo   -->
    <div class="input-tempo" ng-if="messageState == 17" style="position:absolute; bottom:0px; width: 100%;">
      <div class="card">
        <div class="list">
          <div class="row">
            <div class="col col-90">
              <label class="item item-input">
              <input type="number" ng-model="input.deadline" placeholder="Digite a sua deadline">
            </label>
            </div>
            <div class="col col-10 wrapper">
              <button ng-click="submitDeadLine(input.deadline)" class="button button-clear button-dark ion-arrow-right-c send-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Pergunta - investimento inicial   -->
    <div class="input-investimento-inicial" ng-if="messageState == 19" style="position:absolute; bottom:0px; width: 100%;">
      <div class="card">
        <div class="list">
          <div class="row">
            <div class="col col-90">
              <label class="item item-input">
              <input type="number" ng-model="input.initialInvestment" placeholder="Digite o valor">
            </label>
            </div>
            <div class="col col-10 wrapper">
              <button ng-click="submitInitialInvestment(input.initialInvestment)" class="button button-clear button-dark ion-arrow-right-c send-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Pergunta - investimento mensal   -->
    <div class="input-investimento-mensal" ng-if="messageState == 21" style="position:absolute; bottom:0px; width: 100%;">
      <div class="card">
        <div class="list">
          <div class="row">
            <div class="col col-90">
              <label class="item item-input">
              <input type="number" ng-model="input.monthlyInvestment" placeholder="Digite o valor">
            </label>
            </div>
            <div class="col col-10 wrapper">
              <button ng-click="submitMonthlyInvestment(input.monthlyInvestment)" class="button button-clear button-dark ion-arrow-right-c send-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--  Pergunta - Risco   -->
    <div class="input-risco" ng-if="messageState == 23" style="position:absolute; bottom:0px; width: 100%;">
      <div class="card">
        <div class="row">
          <div class="col col-90">
            <div class="item range">
              Baixo
              <input type="range" ng-model="input.risk" name="risk"> Alto
            </div>
          </div>
          <div class="col col-10 wrapper">
            <button ng-click="submitRisk(input.risk)" class="button button-clear button-dark ion-arrow-right-c send-button"></button>
          </div>
        </div>
      </div>
    </div>

    <!--  Email   -->
    <div class="input-email" ng-if="messageState == 25" style="position:absolute; bottom:0px; width: 100%;">
      <div class="card">
        <div class="list">
          <div class="row">
            <div class="col col-90">
              <label class="item item-input">
              <input type="text" ng-model="input.email" placeholder="Digite o seu e-mail">
            </label>
            </div>
            <div class="col col-10 wrapper">
              <button ng-click="submitEmail(input.email)" class="button button-clear button-dark ion-arrow-right-c send-button"></button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </ion-content>
</ion-view>