<ion-view view-title="Recommended" class="questionario-page">
  <ion-content scroll="false">


    <div class="list card" >

      <div class="item">
        <h2>{{ recommended.nome_comercial }}</h2>
        <p>Valor IR: {{ recommended.valor_ir }}%</p>
        <p>Rentabilidade (últimos 12 meses): {{ recommended.rentabilidades["12_meses"]}}% </p>   
      </div>



    </div>
    <div class="button-bottom">
      <button class="button button-positive button-large" ng-click="acceptRecommendation()" ion-button round>Aceitar sugestão</button>
    </div>

    <div class="button-bottom">
      <a href="" ng-click="goToRecommendations()"><b style="color:aliceblue"><u>Ver outros investimentos</u></b>
    </div>


  </ion-content>
</ion-view>
