<ion-view view-title="Resultados" class="questionario-page">
  
  <ion-content>
    <ion-list>
     <div ng-repeat="result in results">
         <ion-item class="item-stable"
                    ng-click="toggleGroup(result)"
                    ng-class="{active: isGroupShown(result)}">
              <i class="icon" ng-class="isGroupShown(result) ? 'ion-minus' : 'ion-plus'"></i>
            &nbsp;
            {{result.nome_comercial}}
            <b ng-if="$index==0">(Recomendado)</b>
            <i class="icon best" ng-class="isGroupShown(result) ? 'ion-checkmark-round' : ''"></i>
          </ion-item>
          <ion-item class="item-accordion"
                    ng-show="isGroupShown(result)"
                    ng-class="{active: isGroupShown(item)}">
                    Grau de risco: {{result.grau_risco}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-show="isGroupShown(result)"
                    ng-class="{active: isGroupShown(item)}">
                    Família: {{result.nome_familia}}
          </ion-item>
          <ion-item class="item-accordion"
                    ng-show="isGroupShown(result)"
                    ng-class="{active: isGroupShown(item)}">
                    Valor mínimo: R${{result.valor_minimo_aplicacao}}
          </ion-item>

          <ion-item class="item-accordion"
                    ng-show="isGroupShown(result)"
                    ng-class="{active: isGroupShown(item)}">
                    Valor IR: {{result.valor_ir}}%
          </ion-item>
          <ion-item class="item-accordion"
                    ng-show="isGroupShown(result)"
                    ng-class="{active: isGroupShown(item), best: $index == 0, worse: $index != 0}">
                    Rendimento (últimos 12 meses): {{result.rentabilidades["12_meses"]}}%
          </ion-item>
          <ion-item class="item-accordion"
                    ng-show="isGroupShown(result)"
                    ng-class="{active: isGroupShown(item)}"
                    ng-click="selectInvestment()">
            <button class="button button-block button-positive ">Selecionar</button>
          </ion-item>
          
              <!--<ion-list class="item-accordion" ng-show="isProductShown(item)">
              <ion-item class="item-accordion" >Grau de risco da aplicação: {{item.grau_risco}}</ion-item>
              <ion-item class="item-accordion" >Família da aplicação: {{item.nome_familia}}</ion-item>
              <ion-item class="item-accordion" >Imposto de renda: {{item.valor_ir}}%</ion-item>
              <ion-item class="item-accordion" >Valor mínimo para aplicação: R${{item.valor_minimo_aplicacao}}</ion-item>
              <ion-item class="item-accordion" >Valor mínimo para resgate: {{item.valor_minimo_resgate}}</ion-item>
              <ion-item class="item-accordion" >Data do crédito do resgate: {{item.data_credito_resgate}}</ion-item>
              <ion-item class="item-accordion" >Data do débito da aplicação: {{item.data_debito_aplicacao}}</ion-item>
            </ion-list>-->
          </ion-item>
      </div>
    </ion-list>

  </ion-content>
</ion-view>
