/* Splash page stylings */
.splash-page {
  /* background:url(/img/orange-bkg-2.jpg); */
  background: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.splash-page .card {
  margin-top:40px;
}

.splash-page .logo h1 {
  margin-top:30px;
  text-align:center;
  color:#fff !important;
  font-family: Verdana, Geneva, sans-serif;
  font-weight:bold;
  letter-spacing: -3px;
  font-size:42px;
}

.splash-page .signup-opt {
  color:#fff;
  padding:15px;
  margin-top:20px;
  font-weight: bold;
  cursor:pointer;
}

.splash-page .action-button {
  font-weight: bolder;
}

/* Discover page stylings */
.discover-page {

}

.discover-page .current-song {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;

  -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
  transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.1s;
}

.discover-page .current-song .item-image {
  max-height:300px;
  overflow:hidden;
}

@media screen and (max-height: 600px) {
  .discover-page .current-song .item-image {
    max-height:200px;
    overflow:hidden;
  }
}

.discover-page .current-song.favorited.ng-hide {
  -webkit-transform: translateX(1000px) rotate(50deg);
  -ms-transform: translateX(1000px) rotate(50deg);
  transform: translateX(1000px) rotate(50deg);
  opacity:0;
}

.discover-page .current-song.skipped.ng-hide {
  -webkit-transform: translateX(-1000px) rotate(-50deg);
  -ms-transform: translateX(-1000px) rotate(-50deg);
  transform: translateX(-1000px) rotate(-50deg);
  opacity:0;
}

.discover-page .current-song.ng-hide-add {
  -webkit-transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
  transition:all cubic-bezier(0.420, 0.000, 1.000, 1.000) 0.3s;
  display:block!important;
}

.discover-page .current-song.ng-hide-remove {
  -webkit-transform: scale(0.7) translateX(0px) rotate(0deg);
  -ms-transform: scale(0.7) translateX(0px) rotate(0deg);
  transform: scale(0.7) translateX(0px) rotate(0deg);
  opacity: 0;
}


.discover-page .img-lookahead img {
  height:1px;
  width:1px;
  opacity:0.01;
}


.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.itau-bar {
  background: url('../img/background.jpg') !important;
}

.itau-bar .title{
  color: #fff !important;
}

.questionario-page {
  /* background:url(/img/orange-bkg-2.jpg); */
  background: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.questionario-page .message-received {
  /* margin-left: 10px; */
  padding: 10px;
  /* margin-bottom: 10px; */
  /* color:white; */
  /* font-weight:bold; */
  font-size: 16px;
  /* background-color: #3457d4; */
  text-align: center;
  float: left;
  /* width: 80%; */
  border-radius: 10px;
}

.questionario-page .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.questionario-page .questionario-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color:rgba(244, 121, 32, 0.56); */
    background-color: #d6d6d6;
    height: 70%;
    /* border-radius: 10px; */
}

.questionario-page .card {
      display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.resumo-page {
  /* background:url(/img/orange-bkg-2.jpg); */
  background: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.resumo-page .resumo-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* background-color:rgba(244, 121, 32, 0.56); */
    background-color: #d6d6d6;
    height: 70%;
    /* border-radius: 10px; */
}


.resumo-page .textarea {
  height: 100%;
  overflow: scroll;
}

.resumo-page .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.buttonblockmargin{
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

.createaccount-page {
  /* background:url(/img/orange-bkg-2.jpg); */
  background: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.createaccount-page .wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.createaccount-page .title {
  color: #fff;
  margin: 20px;
}

.createaccount-page .text {
  color: #fff;
  font-size: medium;
  margin: 20px;
}

.list .item.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}



.list .item.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

.list .item .list.item-accordion {
  line-height: 38px;
  padding-top: 0;
  padding-bottom: 0;
  transition: 0.09s all linear;
}

.list .item .list.item-accordion.ng-hide {
  line-height: 0px;
}
.list .item .list.item-accordion.ng-hide-add,
.list .item .list.item-accordion.ng-hide-remove {
  display: block !important;
}

.best {
  font-weight: bold;
  color: green;
}

.worse {
  font-weight: bold;
  color: red;
}

.acc-selected {
  color: lightgreen;
}

.active {
  background-color: #f47920 !important;
  color: white !important;
}

.button-bottom{
  margin: 5vh;
  text-align:center;
}

.investimentos-page{
  background: url('../img/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

